/* overwrite .login-pf again */
.login-pf {
    background: none;
}

.login-pf body {
    background: #fafafa;
    background-size: cover;
    height: 100%;
}
.login-pf-header {
  display:none !important;
}

.pf-c-form-control {
    border-width: 0 0 1px 0;
    background: none;
}

.pf-c-form-control:hover, .pf-c-form-control:focus, .pf-c-form-control:focus-visible {
    border-bottom-color: #00adef;
    border-bottom-width: 2px;
    outline: none;
}

.pf-m-primary {
    color: #fff;
    background:none;
}
.pf-c-button.pf-m-primary {
    background: #00adef;
    border-radius: 3px;
    line-height: 1.5rem;
    box-shadow: 0 0 3px #33333399;
}
.pf-c-button.btn-default {
    background: #fff;
    border-radius: 3px;
    color: #777;
    line-height: 1.5rem;
    box-shadow: 0 0 3px #33333333;
}

input[type="submit"]:disabled {
    color: #ffff;
}

.pf-c-button.pf-m-primary:hover, .pf-c-button.pf-m-primary:focus-visible {
    color: #ffff;
    background-color: rgb(0, 121, 167);
    outline: none;
}

.pf-c-button.btn-default:hover, .pf-c-button.btn-default:focus-visible {
    color: #777;
    background-color: #efefef;
    outline: none;
}

#kc-header {
    overflow: visible;
    white-space: nowrap;
    margin: 0;
}
#kc-logo {
    min-width: 60px;
    height: 60px;
    margin-bottom: 5px;
    background: url("../img/logo.png") no-repeat center center;
}

#kc-header-wrapper {
    color: rgb(114, 114, 113);
    font-size: 2.2rem;
    font-weight: normal;
    padding: 0;
}

.login-pf-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.card-pf {
    width: 300px;
    margin: 0 auto;
    padding: 0 !important;
    box-shadow: none;
    background: none;
    border:none;
}

#kc-form-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

